<div class="list-content">
    <h2>Клиенты</h2>
    <div class="list-table">
        <div class="list-button">
            <span>Новый клиент</span>
            <button class="btn btn-primary btn-sm ms-3 ripple-surface" (click)="addClientClick()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Регион</th>
                    <th>Email</th>
                    <th>Менеджер</th>
                    <th style="width: 70px;">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{client.name}}</td>
                    <td>{{client.region}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.managerName}}</td>
                    <td>
                        <a href="/clients/{{client.clientId}}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="#">
                            <i class="material-icons" (click)="deleteClient(client)">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
