<div class="list-content">
    <h2>Заказы</h2>
    <div class="list-table">
        <div class="list-button">
            <span>Новый заказ</span>
            <button class="btn btn-primary btn-sm ms-3 ripple-surface" (click)="addOrderClick()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Дата заказа</th>
                    <th>Клиент</th>
                    <th>Продукт</th>
                    <th>Количество</th>
                    <th style="width: 70px;">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.orderDate}}</td>
                    <td>{{order.clientName}}</td>
                    <td>{{order.productName}}</td>
                    <td>{{order.amount}}</td>
                    <td>
                        <a href="/orders/{{order.orderId}}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="#">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
